<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Galería</h1>
						<p>Bienvenido a mi página web, donde podrás ver una muestra de mi trabajo como fotógrafo profesional. Me apasiona capturar la belleza y la emoción de los momentos únicos.</p>
						<ul class="icons">
							<li>
								<a href="/">
									<i class="fa fa-home fa-lg"></i>
								</a>
								
							</li>
							<li><a href="welcome/main" ><i class="fa fa-camera-retro fa-lg"></i></a></li>
							<br>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-github"></a></li>
							<li><a href="#" class="fa fa-envelope"></a></li>
										
							

						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article>
							<a class="thumbnail" href="<%= image_path('01-full.jpg') %>"> <%= image_tag("01-full.jpg", alt: "...") %></a>
							<h2>Diam tempus accumsan</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('02-full.jpg') %>"><img src="<%= image_path('02-full.jpg') %>"></a>
							<h2>Vivamus convallis libero</h2>
							<p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('03-full.jpg') %>" data-position="top center"><%= image_tag("03-full.jpg", alt: "...") %></a>
							<h2>Nec accumsan enim felis</h2>
							<p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('04-full.jpg') %>"><img src="<%= image_path('04-full.jpg') %>"></a>
							<h2>Donec maximus nisi eget</h2>
							<p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('05-full.jpg') %>" data-position="top center"><%= image_tag("05-full.jpg", alt: "...") %></a>
							<h2>Nullam vitae nunc vulputate</h2>
							<p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('06.jpg') %>"><img src="<%= image_path('06.jpg') %>"></a>
							<h2>Phasellus magna faucibus</h2>
							<p>Nulla dignissim libero maximus tellus varius dictum ut posuere magna.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('07.jpg') %>"><img src="<%= image_path('07.jpg') %>"></a>
							<h2>Proin quis mauris</h2>
							<p>Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('08-full.jpg') %>"><img src="<%= image_path('08-full.jpg') %>"></a>
							<h2>Gravida quis varius enim</h2>
							<p>Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('08-full.jpg') %>"><img src="<%= image_path('09-full.jpg') %>"></a>
							<h2>Morbi eget vitae adipiscing</h2>
							<p>In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('10-full.jpg') %>"><img src="<%= image_path('10-full.jpg') %>"></a>
							<h2>Habitant tristique senectus</h2>
							<p>Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('11-full.jpg') %>"><img src="<%= image_path('11-full.jpg') %>"></a>
							<h2>Pharetra ex non faucibus</h2>
							<p>Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.</p>
						</article>
						<article>
							<a class="thumbnail" href="<%= image_path('12-full.jpg') %>"><img src="<%= image_path('12-full.jpg') %>"></a>
							<h2>Mattis lorem sodales</h2>
							<p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
						</article>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
						</ul>
					</footer>

			</div>
